flows.json
[{"id":"290a79ee.3232c6","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"85a5817c.1b7c5","type":"ui_tab","z":"","name":"Greenhouse","icon":"dashboard","disabled":false,"hidden":false},{"id":"7e6baf98.69239","type":"ui_group","z":"","name":"Greenhouse","tab":"85a5817c.1b7c5","order":1,"disp":true,"width":"14","collapse":true},{"id":"2dab8e98.6c5e72","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"none","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"6412d042.f0df1","type":"mqtt-broker","z":"","name":"","broker":"node02.myqtthub.com","port":"8883","tls":"","clientid":"raspi","usetls":true,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"Outside/Greenhouse","birthQos":"0","birthRetain":"false","birthPayload":"node red connect","closeTopic":"Outside/Greenhouse","closeQos":"0","closeRetain":"false","closePayload":"node red disconnect","willTopic":"","willQos":"0","willPayload":""},{"id":"d5644fa9.aed1e","type":"ui_group","z":"","name":"Outside","tab":"","order":1,"disp":true,"width":"7"},{"id":"7ed157bd.0e09a8","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"9b86d9da.61d608","type":"ui_group","z":"","name":"Default","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"49c74b3.76cb6b4","type":"ui_group","name":"Group 2","tab":"","order":2,"disp":true,"width":6},{"id":"8cf78b53.1ce7f8","type":"ui_group","z":"","name":"Soil Condition","tab":"85a5817c.1b7c5","order":2,"disp":true,"width":"6","collapse":false},{"id":"b506fdf0.87de9","type":"mqtt in","z":"290a79ee.3232c6","name":"","topic":"Outside/Greenhouse","qos":"0","datatype":"json","broker":"6412d042.f0df1","x":150,"y":280,"wires":[["17c44d59.e235c3","bbb15f22.43f64","165bb724.8ce049","3ed24508.83458a","30b3d3a.c11182c","ea44f72f.5ebad8","d4d91419.a3c008","e9a1ebb2.041aa8"]]},{"id":"17c44d59.e235c3","type":"ui_gauge","z":"290a79ee.3232c6","name":"","group":"7e6baf98.69239","order":3,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"Deg C","format":"{{msg.payload.TempC}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":210,"y":400,"wires":[]},{"id":"50f0aa71.e00174","type":"ui_chart","z":"290a79ee.3232c6","name":"Temp Chart","group":"7e6baf98.69239","order":4,"width":0,"height":0,"label":"Temp","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"step","nodata":"Hourly Temp Chart","dot":true,"ymin":"-3","ymax":"30","removeOlder":"1","removeOlderPoints":"20000","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":630,"y":280,"wires":[[]]},{"id":"bbb15f22.43f64","type":"ui_gauge","z":"290a79ee.3232c6","name":"Humidity","group":"7e6baf98.69239","order":2,"width":0,"height":0,"gtype":"wave","title":"Humidity Level","label":"%","format":"{{payload.Humidity}}","min":0,"max":"100","colors":["#a19b9b","#a1e600","#3a5ecb"],"seg1":"","seg2":"","x":220,"y":440,"wires":[]},{"id":"30b3d3a.c11182c","type":"ui_text","z":"290a79ee.3232c6","group":"7e6baf98.69239","order":1,"width":0,"height":0,"name":"Device","label":"Device name: ","format":"{{msg.payload.deviceID}}","layout":"row-left","x":210,"y":360,"wires":[]},{"id":"165bb724.8ce049","type":"change","z":"290a79ee.3232c6","name":"Temperature","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.TempC","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":280,"wires":[["50f0aa71.e00174"]]},{"id":"2ec36540.41583a","type":"ui_chart","z":"290a79ee.3232c6","name":"Humidity Chart","group":"7e6baf98.69239","order":5,"width":0,"height":0,"label":"Humidity Chart","chartType":"line","legend":"true","xformat":"dd HH:mm","interpolate":"step","nodata":"Hourly Humidity Chart","dot":false,"ymin":"0","ymax":"100","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#298bd1","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":640,"y":240,"wires":[[]]},{"id":"3ed24508.83458a","type":"change","z":"290a79ee.3232c6","name":"Humidity","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Humidity","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":240,"wires":[["2ec36540.41583a"]]},{"id":"ea44f72f.5ebad8","type":"change","z":"290a79ee.3232c6","name":"Soil Level","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.SoilMoistureValue","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":320,"wires":[["a86058be.51e3b8"]]},{"id":"a86058be.51e3b8","type":"ui_chart","z":"290a79ee.3232c6","name":"Soil Moisture Level","group":"8cf78b53.1ce7f8","order":2,"width":0,"height":0,"label":"Soil Moisture Level","chartType":"line","legend":"true","xformat":"dd HH:mm","interpolate":"step","nodata":"Soil Moisture Level Chart","dot":true,"ymin":"0","ymax":"1000","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":650,"y":320,"wires":[[]]},{"id":"d4d91419.a3c008","type":"ui_text","z":"290a79ee.3232c6","group":"8cf78b53.1ce7f8","order":1,"width":6,"height":1,"name":"Soil Condition","label":"Current Soil Condition: ","format":"{{msg.payload.SoilCondition}}","layout":"row-left","x":240,"y":480,"wires":[]},{"id":"e9a1ebb2.041aa8","type":"debug","z":"290a79ee.3232c6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.SoilCondition","targetType":"jsonata","statusVal":"","statusType":"auto","x":320,"y":100,"wires":[]}]